# --- Ignore Data and Models ---
models/*.pkl
data/*.csv

# --- Ignore Python Cache ---
__pycache__/
*.py[cod]
venv/
.env

# --- Ignore System Junk ---
.DS_Store
Thumbs.db

# --- Ignore VS Code Settings ---
.vscode/
venv/
.venv/