# Ignore Python virtual environment
.venv/

# Ignore Python cache files
__pycache__/

# Ignore CSV datasets
data/*.csv

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env

# Ignore pickle model files
models/*.pkl